@charset "utf-8";
.lt-container .lt-content {
    padding: 45px 0 100px 0;
}
.mui-table-view-cell {
    padding: 11px 15px 11px 40px;
}
.mui-table-view .mui-media-object {
    height: 80px;
    max-width: 80px;
}
.lt-for-sel > i {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    text-align: center;
}
.lt-for-sel .fa-circle-thin {
    color: #ccc;
}
.lt-for-sel .fa-check-circle {
    color: #0064B2;
}
.mui-media-body h4 {
    font-size: 13px;
    line-height: 1.4;
    font-weight: normal;
    color: #666;
}
.mui-media-body .lt-goods-size {
    font-size: 12px;
}
.mui-media-body .lt-goods-price {
    margin-top: 6px;
}
.mui-media-body .lt-goods-price sub {
    vertical-align: 3px;
}
.lt-goods-balance {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #f4f4f4;
    padding: 0 12px 0 40px;
    position: absolute;
    bottom: 55px;
    left: 0;
    border-top: 1px solid #ddd;
}
.lt-goods-balance > button {
    background: #bbb;
    color: #fff;
    position: absolute;
    top: 6px;
    right: 12px;
}
.lt-goods-balance > button.active {
    background: #0064B2;
    color: #fff;
}
.lt-goods-balance > p {
    font-size: 12px;
}

