@charset "utf-8";
body {
    background: #fcfcfc;
}

.lt-container .lt-trade-nav {
    width: 100%;
    height: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
}

.lt-container .lt-trade-nav > a {
    display: inline-block;
    text-align: center;
    width: 50px;
    font-size: 20px;
}

.lt-container .lt-trade-nav > div > a {
    margin-top: 6px;
}

.lt-container .lt-trade-nav > div > a.mui-btn-grey {
    margin-top: 5px;
}

.mui-btn-grey {
    height: 35px;
    line-height: 23px;
    border: 1px solid #dedede;
    color: #646464;
    font-weight: 700;
    background: #f8f8f8 linear-gradient(#fbfbfb, #f5f5f5);
}

.mui-btn-grey:enabled:active, .mui-btn-grey.mui-active:enabled {
    color: #646464;
    border: 1px solid #c7c7cc;
    background-color: #EFEFEF;
}

.mui-btn-blue {
    border: 1px solid #005699;
    color: #fff;
    font-weight: 700;
    background-color: #0064B2;
}

.mui-btn-blue:enabled:active, .mui-btn-blue.mui-active:enabled {
    color: #efefef;
    border: 1px solid #005699;
    background-color: #004E89;
}

.mui-slider .mui-slider-group .mui-slider-item {
    padding: 20px;
}

.lt-product-tit {
    padding: 10px 12px;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    border-top: 1px solid #ddd;
}

.lt-product-price {
    padding: 0 12px;
}

.lt-product-price sub {
    vertical-align: 3px;
}

.lt-product-price sub:after {
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 5px;
}

.lt-product-price span {
    color: #d44d44;
    font-size: 15px;
    font-weight: bold;
}

.lt-product-size {
    padding: 10px 12px;
}

.lt-product-size span {
    padding: 3px;
    background: #f5f5f5;
    font-size: 12px;
    border: 1px solid #ccc;
    line-height: 26px;
}
.lt-product-size span.active {
    background: #fff;
    border: 1px solid #d44d44;
    color: #d44d44;
}
.lt-product-num {
    padding: 0 12px;
    font-size: 12px;
}
.lt-product-num .mui-numbox {
    width: 82px;
    height: 24px;
    vertical-align: -7px;
    padding: 0 24px;
}

.lt-product-num .mui-numbox [class*=btn-numbox], .mui-numbox [class*=numbox-btn] {
    width: 24px;
}

.lt-product-num input {
    font-size: 12px;
}

.lt-product-desc {
    padding: 10px 12px;
    font-size: 12px;
}



