@charset "utf-8";
.lt-login {
    padding: 12px;
}

.lt-login form {
    border-radius: 5px;
    border: 1px solid #c8c7cc;
}

.mui-input-group input {
    font-size: 14px;
    color: #333;
}

.mui-input-group:after {
    height: 0;
}

.mui-input-group .mui-input-row:nth-of-type(1):after {
    right: 15px;
}

.mui-input-group .mui-input-row:nth-of-type(2):after {
    height: 0;
}

.mui-input-row .mui-input-password ~ .mui-icon-eye {
    right: 8px;
}

.mui-button-row {
    padding-top: 16px;
}

.mui-button-row button {
    width: 100%;
    border-radius: 4px;
    letter-spacing: 12px;
    font-size: 16px;
}

.lt-register {
    line-height: 45px;
    text-align: right;
    padding-right: 10px;
}

.lt-register a {
    color: #7f7f7f;
}

/* user -- center */
.lt-logout {
    padding: 16px;
}

.lt-logout button {
    width: 100%;
    border-radius: 4px;
    letter-spacing: 4px;
    font-size: 16px;
}
.lt-user .mui-navigate-right img {
    display: inline-block;
    width: 40px;
    margin-right: 6px;
}
.lt-user .mui-navigate-right .mui-media-body p:nth-of-type(1) {
    color: #555;
}
.lt-user .mui-navigate-right .mui-media-body p:nth-of-type(2) {
    font-size: 12px;
}
.lt-user .mui-table-view-cell > a {
    color: #666;
}