<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
	<!-- ios是否创建快捷启动方式-->
	<meta content="yes" name="app-mobile-web-app-capable">
	<!-- iOS顶部通栏样式 black-->
	<meta name="app-mobile-web-app-status-bar-style" content="black">
	<meta content="telephone=no" name="format-detection">
	<meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
	<meta name="Keywords"
		  content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
	<link type="image/x-icon" rel="shortcut icon" href="../images/favicon.ico">
	<link rel="stylesheet" href="../assets/mui/css/mui.min.css"/>
	<link rel="stylesheet" href="../assets/fa/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../css/common.css"/>
	<link rel="stylesheet" href="../css/cart.css"/>
	<title>乐购-购物车</title>
</head>
<body>
<div class="lt-container">
	<header class="lt-header">
		<a href="javascript:history.back();" class="icon-lt"><i class="fa fa-chevron-left"></i></a>
		<span>购物车</span>
		<!--<a href="#" class="icon-rt"><i class="fa fa-search"></i></a>-->
	</header>
	<div class="lt-content">
		<div class="lt-wrapper">
			<div class="mui-scroll-wrapper" id="refreshContainer">
				<div class="mui-scroll">
					<ul class="mui-table-view">

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="lt-goods-balance lt-for-sel">
		<input type="checkbox">
		<i class="fa fa-circle-thin"></i>
		<p>已选 <span style="font-weight: bold" class="lt-balance-num">0</span> 件，合计：<span class="mc-red">¥<span class="lt-balance-price">1324</span></span></p>
		<button class="button">现在结算</button>
	</div>
	<footer class="lt-footer mui-clearfix">
		<a href="../index.html"><i class="fa fa-home"></i><span>首页</span></a>
		<a href="../category.html"><i class="fa fa-bars"></i><span>分类</span></a>
		<a href="../user/cart.html" class="active"><i class="fa fa-shopping-cart"></i><span>购物车</span></a>
		<a href="../user/user.html"><i class="fa fa-user"></i><span>个人中心</span></a>
	</footer>
</div>
<script type="text/template" id="cartTemplate">
	<% if(data && data.length) %>
	<% for(var i=0; i< data.length; i++){ %>
		<li class="mui-table-view-cell mui-media lt-for-sel">
			<input type="checkbox" data-price="189" data-num="2">
			<i class="fa fa-circle-thin"></i>
			<div class="mui-slider-right mui-disabled">
				<a class="mui-btn mui-btn-blue mui-icon mui-icon-compose"></a>
				<a class="mui-btn mui-btn-red mui-icon mui-icon-trash"></a>
			</div>
			<div class="mui-slider-handle">
				<a href="javascript:">
					<img class="mui-media-object mui-pull-left" src="../images/product.jpg">
					<div class="mui-media-body">
						<h4 class="mui-ellipsis-2">幸福是能和心爱的人一起睡觉能和心爱的人一起睡觉能和心爱的人一起睡觉什么</h4>
						<p class="lt-goods-size">鞋码：<span>42</span></p>
						<div class="lt-goods-price mui-clearfix">
							<p class="mui-pull-left mc-red">¥<span>169</span></p>
							<p class="mui-pull-right"><sub>x </sub><span>2</span></p>
						</div>
					</div>
				</a>
			</div>
		</li>
	<% } %>
	<%}else{%>
	<li class="mui-table-view-cell">
		<div class="mui-table-cell">
			<a class="mui-btn mui-btn-link" href="../search.html">购物车空的去添加</a>
		</div>
	</li>
	<%}%>
</script>
<script src="../assets/mui/js/mui.min.js"></script>
<script src="../assets/zepto/zepto.min.js"></script>
<script src="../assets/artTemplate/template-native.js"></script>
<script src="../js/config.js"></script>
<script src="../js/ajax.js"></script>
<script src="../js/common.js"></script>
<script src="../js/cart.js"></script>
</body>
</html>